body
{
  background-color: #2c2c2c;
  color: white;
  font-family: Arial;
  cursor: default;
}

#container
{
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

#logo
{
  font-size: 175px;
  color: #ffffff;
  text-align: center;
  border-bottom: 2px solid #ffffff;
  font-family: Arial;
  margin-bottom: 15px;
}

#menu
{
  text-align: center;
  margin: 20px 0px 20px 0px;
}

#menuPossibility0
{
  padding-top: 15px;
  border-left: 1px solid #ffffff; 
  border-right: 1px solid #ffffff;
  float: left;
  font-size: 30px;
  text-align: center;
  width: 648px;
  height: 55px;
  color: #ffffff;
}

#menuPossibility1
{
  padding-top: 15px;
  border-right: 1px solid #ffffff;
  float: left;
  font-size: 30px;
  text-align: center;
  width: 649px;
  height: 55px;
  color: #ffffff;
}

#menuPossibility0:hover
{
  background: #3c3c3c;
  font-size: 35px;
}

#menuPossibility1:hover
{
  background: #3c3c3c;
  font-size: 35px;
}

/*----------------------------SPIS TRESCI-------------------------------*/

#spis {
  width: 1300px;
  height: 500px;
  font-size: 30px;
}

.part {
  float: left;
  margin-right: auto;
  margin-left: auto;
  width: 650px;
}

/*-------------------------------CONTENT--------------------------------*/

#bigTitle
{
  text-align: center;
  font-size: 75px;
  font-family: Arial;
  margin: 50px 0px 50px 0px;
  width: 1300px;
}

.tinyTitle
{
  text-align: center;
  font-size: 50px;
  padding: 8px;
  font-family: Arial;
  color: yellow;
}

#content
{
  width: 1300px;
}

.scripts
{
  width: 1300px;
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: center;
}

/*-------------------------------SCRIPTS------------------------------*/

#zegar
{
  color: red;
  font-size: 120px;
  font-family: Arial;
  text-align: center;
  padding: 30px;
}

#slider {
  width: 1300px;
  height: 500px;
}

#kalkulator {
  width: 1300px;
  height: 500px;
  padding: 20px;
}

#kalkPole1 {
  width: 200px;
  height: 50px;
  font-size: 30px;
  padding: 10px;
  background-color: #3c3c3c;
}

#kalkPole2 {
  width: 200px;
  height: 50px;
  font-size: 30px;
  padding: 10px;
  background-color: #3c3c3c;
}

#kalkWynik {
  width: 200px;
  height: 50px;
  font-size: 45px;
  padding: 10px;
  background-color: #3c3c3c;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;

}

#dodawanie {
  width: 150px;
  height: 150px;
  font-size: 110px;
  padding: 10px;
  background-color: #3c3c3c;
  color: white;
}

#dodawanie:hover {
  background-color: #2b2b2b;
  color: #999;
}

#odejmowanie {
  width: 150px;
  height: 150px;
  font-size: 110px;
  padding: 10px;
  background-color: #3c3c3c;
  color: white;
}

#odejmowanie:hover {
  background-color: #2b2b2b;
  color: #999;
}

#mnozenie {
  width: 150px;
  height: 150px;
  font-size: 110px;
  padding: 10px;
  background-color: #3c3c3c;
  color: white;
}

#mnozenie:hover {
  background-color: #2b2b2b;
  color: #999;
}

#dzielenie {
  width: 150px;
  height: 150px;
  font-size: 110px;
  padding: 10px;
  background-color: #3c3c3c;
  color: white;
}

#dzielenie:hover {
  background-color: #2b2b2b;
  color: #999;
}

#kalendarz
{
  color: red;
  font-size: 50px;
  font-family: Arial;
  padding: 30px;
  margin: auto;
}

#generator
{
  color: red;
  font-size: 50px;
  font-family: Arial;
  padding: 30px;
  margin: auto;
}

#liczbaPierwsza
{
  color: red;
  font-size: 50px;
  font-family: Arial;
  padding: 30px;
  margin: auto;
}

